/*-----    This is the stylesheet for the index page, and contains the general setup of the website    -----*/

/*-----    The box-sizing property allows us to include the padding and border in the box's total width (and height), 
making sure that the padding stays inside of the box and that it does not break    -----*/
* {
    box-sizing: border-box;
}

/*-----    This specifies the the style for the entire body tag    -----*/
.body {
    font-family: Calibri;
    margin: 0;
}

/*-----    This specifies the height of the middle boxes    -----*/
.leftBox, .rightBox, .dynamicContainer {
    height: 725px;
}

/*-----    This specify the style of the TopFrame box    -----*/
.header {
    background-color: black;
    padding: 2px;
    font-size: 25px;
}

/*-----   This specifies the style of the content in the TopFrame box   -----*/  
.header img {
    float: left;
    width: 215px;
    height: 125px;
}
.header h1 {
    left: 10px;
    color: rgb(240, 238, 238);
    text-align:left; 
}

.centerContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    /*flex-basis: max-content;*/
}

/*-----    This specifies the style for the left box    -----*/
.leftBox {
    float:left;
    width: 15%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(119, 128, 128);
}

li{
    margin:5px;
    font-weight: bold;
}

.dynamicContainer {
    text-align: center;
}

/*-----    This specifies the style of the right box    -----*/
.rightBox {
    float: right;
    width: 15%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(119, 128, 128);
}

/*-----    This specifies the styling of the middle box and the contents    -----*/
.dynamicContainer {
    float: left;
    width: 70%;
    background-color: #b9b3b3;
}
.dynamicContainer p {
    text-align: center;
}

/*-----    This specifies the style of the Footer box    -----*/
.footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}

/*-----    This will get the middle boxes to stand on top of each other on small screens ( smartphones )    -----*/
@media (max-width: 600px) {
    .rightBox, .leftBox, .dynamicContainer {
        width: 100%;
        height: auto;
    }
}