

/*-----    The box-sizing property allows us to include the padding and border in the box's total width (and height),
making sure that the padding stays inside of the box and that it does not break    -----*/
* {
    box-sizing: border-box;
}

/*-----    This specifies the the style for the entire body tag    -----*/
.Body {
    font-family: Calibri;
    margin: 0;
}