
/*-----    The box-sizing property allows us to include the padding and border in the box's total width (and height),
making sure that the padding stays inside of the box and that it does not break    -----*/
* {
    box-sizing: border-box;
}
/*-----    This specifies the the style for the entire body tag    -----*/
.Body {
    font-family: Calibri;
    margin: 0;
}
/*-----    This specify the style of the TopFrame box    -----*/
.TopFrame {
    background-color: black;
    padding: 2px;
    font-size: 25px;
}
/*-----   This specifies the style of the content in the TopFrame box   -----*/
.TopFrame img {
    float: left;
    width: 215px;
    height: 125px;
}
.TopFrame h1 {
    left: 10px;
    color: rgb(240, 238, 238);
    text-align:left;
}
/*-----    This specifies the style of the content in the middle  box with the register info    -----*/
.middleFrame {
    padding-top: 50px;
    width: 100%;
    height: 550px;
    text-align: center;
    background-color: #b9b3b3;
}
/*-----    This will clear the floats in the documents body after the columns are done    -----*/
body::after {
    content: "";
    display: table;
    clear: both;
}

/*-----    This specifies the style of the Footer box    -----*/
.Footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}