/*-----    This is the stylesheet for the index page, and contains the general setup of the website    -----*/



/*------------- GENERAL -------------------------------------------------------------------

/*-----    The box-sizing property allows us to include the padding and border in the box's total width (and height), 
making sure that the padding stays inside of the box and that it does not break    -----*/
* {
    box-sizing: border-box;
}

/* Sets the height/width of the outmost tags (body, html) to 100% such
   that we may use 100% width/height on children elements */
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Calibri;
}


/* -------- HEADER ------------------------------------------------------------------- */

/** Specifies height, width and color of the header container */
.header {
    width: 100%;
    height: 15%;
    background-color: black;
}

/** Specifies that the image should fit the size of its parent container (.header) */
.header img {
    float: left;
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    /* These centers the text vertically: */
    height: 100%;
    display: flex;
    align-items: center; /* Center vertically */
}


/* ----------- CENTER -------------------------------------------------------------- */

/** Container for all center elements */
.centerContainer {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}


.sideBox {
    height: 100%;
    width: 15%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(119, 128, 128);
}

.sidebox li{
    margin: 5px;
    font-weight: bold;
}


/** The wrapper container for 'switchable' html, using our switchPage() function */
.dynamicContainer {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b9b3b3;
}

/** A layer class, which allows containers to be stacked on top of each other */
.layer {
    width: 70%;
    height: 85%;
    text-align: center;
    position: absolute;
}


.centeredImg{
    display: block;
    margin: auto
}

.errorMsg{
    color: darkred;
    font-weight: bold;
}
