.resultName{
    font-size: 25px;
    font-weight: bold;
}

.resultRating{
    font-size: 20px;
    font-weight: bold;
}


.username{
    font-size: 30px;
    font-weight: bold;
}


.userInfoContainer{
    padding: 5%;
}


.opponentName{
    font-size: 30px;
    font-weight: bold;
}

.resultMsg{
    font-size: 40px;
    font-weight: bold;
}

